PORT=4000
AUTH_TOKEN="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJNYXBDbGFpbXMiOnsiYXVkIjoiaHR0cDovLzIwLjI0NC41Ni4xNDQvZXZhbHVhdGlvbi1zZXJ2aWNlIiwiZW1haWwiOiJtZWV0LjI2MzI1QGdnbmluZGlhLmRyb25hY2hhcnlhLmluZm8iLCJleHAiOjE3Nzc4Nzg3NjAsImlhdCI6MTc3Nzg3Nzg2MCwiaXNzIjoiQWZmb3JkIE1lZGljYWwgVGVjaG5vbG9naWVzIFByaXZhdGUgTGltaXRlZCIsImp0aSI6IjE2YjYxODRmLTgzZTctNGZkMC04YzBjLWY5YTlkZDdmYzgyNyIsImxvY2FsZSI6ImVuLUlOIiwibmFtZSI6Im1lZXQga2h1cmFuYSIsInN1YiI6ImRjMDA2OWZjLTZkZjAtNDg1MS05MTkzLTk1OWIwNjQyMjBkZiJ9LCJlbWFpbCI6Im1lZXQuMjYzMjVAZ2duaW5kaWEuZHJvbmFjaGFyeWEuaW5mbyIsIm5hbWUiOiJtZWV0IGtodXJhbmEiLCJyb2xsTm8iOiIyNjMyNSIsImFjY2Vzc0NvZGUiOiJ1a3NkV1QiLCJjbGllbnRJRCI6ImRjMDA2OWZjLTZkZjAtNDg1MS05MTkzLTk1OWIwNjQyMjBkZiIsImNsaWVudFNlY3JldCI6InBSckZFYUhrdXlxVG15cEsifQ.c3-wwNOZAS7e0Sp0MBxxpX8ViCr4b4ijRFaAHIfNL10"
